body{
    background-color: aqua;
}
h1{
    font-size: 10cm;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h4{
    text-align: center;
    font-size: 5cm;
}
.form,
.greeting{
    display:none;
}
.showing{
    display: block;
}